<launch>
    <group ns="ak1">
        <!-- PG -->
        <include file="$(find pointgrey_camera_driver)/launch/camera.launch"/>

        <!-- BEARING SERVICE -->
        <node pkg="bearing_estimator" type="bearing_estimator_node.py" name="estimated_bearing">
        </node>

        <!-- RTK GPS -->
        <include file="$(find piksi_multi_rtk_ros)/launch/piksi_multi_rover.launch"/>

        <!-- GROUND TRUTH BEARING -->
        <node pkg="bearing_estimator" type="rtk_bearing_node.py" name="real_bearing">
        </node>
    </group>

    <!-- RANGE SERVICE -->
    <node pkg="bearing_estimator" type="range_estimator_service.py" name="range">
    </node>
</launch>
